.navbar-menu a {
  font-family: 'Indie Flower', cursive;
}
.live-demo{
  font-family: 'Indie Flower', cursive;

}
.card-curve{
  background-color: rgba(255, 255, 255, 0.06);
}
.card-curve1{
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.45);
}
